
.idea/workspace.xml

*.pyc

.DS_Store

.idea/workspace.xml___jb_bak___

*.xml

*.xml

.idea/misc.xml

.idea/python.iml

*.iml

*.xml

*.iml
.idea/.name
pythonNSR/.idea/.name
.idea/.name
.idea/.name
.idea/misc.xml
.idea/python.iml
.idea/python.iml
.idea/misc.xml
*.iml
*.xml
